.postwaterfall {
    height: 100vh;
    width: 700px;
    background-color:black;
    margin-top: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

.title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding-top:10px; */
    margin: 0px;
    position: relative;
    bottom: 20px;
}

.content {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
    margin: 5px;
    position: relative;
    bottom: 10px;
}

.post {
    background-color: #303030;
    height: auto;
    width: auto;
    border-radius: 4px;
    padding-left: 40px;
   
    
}

.arrows {
    position: relative;
    right: 30px;
    top: 18px;
}