<div class=addnewpostform *ngIf="displayForm; else newLink">
  <div class=container>
    <h3 class="newpostheader">New Link</h3>
    <form class="newpostform">
      <input placeholder="An Interesting Title..." (keyup)="addTitle($event)">
      <input placeholder="Link" (keyup)="addLink($event)">
    </form>

    <div id=submitorcancel>
      <button id="cancel" (click)="onClickMe()">Cancel</button>
      <button id="save" (click)="sendLink()">Save</button>
    </div>
  </div>
</div>
<ng-template #newLink>
  <button (click)="onClickMe()" id="newpost">Submit a New Link</button>
</ng-template>